<br />
<div class="jumbotron">
	<div class="container">
		Réalisations de plusieurs avants-projets de logos.
		<br /><br />
		<h4><b>Exemples de Projets :</b></h4>
		<br />
		Exemples d'avant-projets, avec ci-dessous les tarifs d'honoraires et de frais de déplacements confondus.
		<br /><br />

		<!-- Images caroussel -->
		<div id="myCarousel" class="carousel slide" data-ride="carousel">

		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
				<img src="images/Projet1.jpg" alt="Exemple 1">
				<div class="carousel-caption">
       	 			<h3>515 &euro;</h3>
      			</div>
			</div>

			<div class="item">
				<img src="images/Projet2.jpg" alt="Exemple 2">
				<div class="carousel-caption">
       	 			<h3>288  &euro;</h3>
      			</div>
			</div>

			<div class="item">
				<img src="images/Projet3.png" alt="Exemple 3">
				<div class="carousel-caption">
       	 			<h3>395 &euro;</h3>
      			</div>
			</div>
		</div>

		<!-- Left and right controls -->
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
			<span class="sr-only">Suivant</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
			<span class="sr-only">Précédent</span>
		</a>
	</div>
</div>