<br />
<div class="jumbotron">
	<div class="container">
		<div class="row">
			<p><b>Définition</b> :<br />Le Métré qui désigne la quantification des éléments d'un ouvrage se rapportant à l'art du bâtiment (longueur, surface, volume, nombre, etc...).
			<br />L'Avant-Métré est une désignation similaire, mais qui quantifie des parties d'ouvrages en vue de la réalisation d'un projet.</p>
			<br /><br /><br />
			<p>
				Métreur indépendant, je réalise ou je vérifie les quantitatifs pour le compte des entreprises du second oeuvre, soit pour la plâtrerie, les faux plafonds, la menuiserie, les revêtements de sols, les revêtements muraux, la peinture etc... J'interviens sur les projets de construction ou de rénovation.<br /><br />

				Il existe de multiples raisons pour avoir recours aux services d'un métreur indépendant: un surcroît de travail, un dossier urgent, un métreur absent, une volonté de développer le chiffre d'affaires...<br /><br />

				C' est aussi s'appuyer sur des compétences externes tout en maîtrisant le budget d'un service étude.
				<br /><br /><br />
			</p>
			<p>
				<i>
					Des documents peuvent être demandés en complément, pour permettre de fournir les éléments nécessaires afin d'établir un Métré.
				</i>
			</p>
 		</div>
	</div>
</div>