<br />
<div class="jumbotron">
	<div class="container">
		<div class="row">
			<p><b>Définition</b> :<br />Le Métré qui désigne la quantification des éléments d'un ouvrage se rapportant à l'art du bâtiment (longueur, surface, volume, nombre, etc...).
			<br />L'Avant-Métré est une désignation similaire, mais qui quantifie des parties d'ouvrages en vue de la réalisation d'un projet.</p>
			<br /><br />
			<p>
				<i>
					Des documents peuvent être demandés en complément, pour permettre de fournir les éléments nécessaires afin d'établir un Métré.
				</i>
			</p>
 		</div>
	</div>
</div>