<br />
<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h2>Garage (ou autres constructions annexes)</h2>
				</div>
				<div class="panel-body text-center">
					<h4><b>Conceptions des Plans : </b></h4>
					Vue(s) en Plan(s)<br/>
					Plan(s) d'Aménagement(s)<br/>
					Plan(s) de Toiture<br/>
					Coupes<br/>
					Façades
				</div>
			</div>
		</div>
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h2>Habitation</h2>
				</div>
				<div class="panel-body text-center">
					<h4><b>Exemples de Projets :</b></h4>
					<br /><br />
					<h4><b>Conceptions des Plans : </b></h4>
					Vue(s) en Plan(s)<br/>
					Plan(s) d'Aménagement(s)<br/>
					Plan(s) de Toiture<br/>
					Coupes<br/>
					Façades
				</div>
			</div>
		</div>
	</div>
</div>