<br />
<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h2>Plan d'Aménagement</h2>
				</div>
				<div class="panel-body text-center">
					<ul class="list-group text-left">
						<li class="list-group-item">
							<span class="badge">400,00 &euro; (Forfait, 22H)</span>
							Garage (ou autres constructions annexes), à partir de
						</li>
						<li class="list-group-item">
							<span class="badge">500,00 &euro; (Forfait, 29H)</span>
							Habitation, à partir de
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h2>Permis de Construire / Déclaration Préalable</h2>
				</div>
				<div class="panel-body text-center">
					<ul class="list-group text-left">
						<li class="list-group-item">
							<span class="badge">650,00 &euro; (Forfait, 40H)</span>
							Garage (ou autres constructions annexes), à partir de
						</li>
						<li class="list-group-item">
							<span class="badge">800,00 &euro; (Forfait, 50H)</span>
							Habitation, à partir de
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h2>Métré</h2>
				</div>
				<div class="panel-body text-center">
					<ul class="list-group text-left">
						<li class="list-group-item">
							<span class="badge">24,00 &euro; / Heure</span>
							Honoraires
						</li>
						<li class="list-group-item">
							<span class="badge">0,35 &euro; / Kilomètre</span>
							Frais de déplacements
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h2>Logo</h2>
				</div>
				<div class="panel-body text-center">
					<ul class="list-group text-left">
						<li class="list-group-item">
							<span class="badge">24,00 &euro; / Heure</span>
							Honoraires
						</li>
						<li class="list-group-item">
							<span class="badge">0,35 &euro; / Kilomètre</span>
							Frais de déplacements
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>