<br />
<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h2>Plan d'Aménagement</h2>
				</div>
				<div class="panel-body text-center">
					En contrepartie de la réalisation de la prestation de service, le client versera au prestataire la somme de 15 &euro; de l'heure, ventilée de la manière suivante :
					<br /><br />
					<ul>
						<li>200 &euro; pour les frais de dossiers, à la signature du contrat (déduis des frais totaux).</li>
						<li>Le montant du forfait correspond à des honoraires de conceptions, et à des frais de déplacements compris dans un rayon de 25 Km (pour des trajets de 4 allers-retours et/ou un total de 200 Km des trajets effectués).</li>
						<li>Une Facturation des heures supplémentaires, au delà des honoraires du forfait, d'un prix unitaire de 12 &euro; de l'heure.</li>
						<li>Au-delà du total des 200 Km des trajets effectués, des frais de déplacements supplémentaires engagés par le prestataire doit être remboursés par le client, d'un prix unitaire de 0,35 &euro; le Kilomètre.</li>
					</ul>
					<br />
					<ul class="list-group text-left">
						<li class="list-group-item">
							<span class="badge">400,00 &euro; (Forfait, 22H)</span>
							Garage (ou autres constructions annexes)
						</li>
						<li class="list-group-item">
							<span class="badge">500,00 &euro; (Forfait, 29H)</span>
							Habitation
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h2>Permis de Construire / Déclaration Préalable</h2>
				</div>
				<div class="panel-body text-center">
					En contrepartie de la réalisation de la prestation de service, le client versera au prestataire la somme de 15 &euro; de l'heure, ventilée de la manière suivante :
					<br /><br />
					<ul>
						<li>200 &euro; pour les frais de dossiers, à la signature du contrat (déduis des frais totaux).</li>
						<li>Le montant du forfait correspond à des honoraires de conceptions, et à des frais de déplacements compris dans un rayon de 25 Km (pour des trajets de 4 allers-retours et/ou un total de 200 Km des trajets effectués).</li>
						<li>Une Facturation des heures supplémentaires, au delà des honoraires du forfait, d'un prix unitaire de 12 &euro; de l'heure.</li>
						<li>Au-delà du total des 200 Km des trajets effectués, des frais de déplacements supplémentaires engagés par le prestataire doit être remboursés par le client, d'un prix unitaire de 0,35 &euro; le Kilomètre.</li>
					</ul>
					<br />
					<ul class="list-group text-left">
						<li class="list-group-item">
							<span class="badge">650,00 &euro; (Forfait, 40H)</span>
							Garage (ou autres constructions annexes)
						</li>
						<li class="list-group-item">
							<span class="badge">800,00 &euro; (Forfait, 50H)</span>
							Habitation
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h2>Métré</h2>
				</div>
				<div class="panel-body text-center">
					<ul>
						<li>En contrepartie de la réalisation de la prestation de service, le client versera au prestataire la somme de 24 euros de l'heure.</li>
						<li>Des frais de déplacements engagés par le prestataire doit être remboursés par le client, d'un prix unitaire de 0,35 euros le Kilomètre.</li>
					</ul>
					<br /><br />
					<ul class="list-group text-left">
						<li class="list-group-item">
							<span class="badge">24,00 &euro; / Heure</span>
							Honoraires
						</li>
						<li class="list-group-item">
							<span class="badge">0,35 &euro; / Kilomètre</span>
							Frais de déplacements
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h2>Logo</h2>
				</div>
				<div class="panel-body text-center">
					<ul>
						<li>En contrepartie de la réalisation de la prestation de service, le client versera au prestataire la somme de 24 euros de l'heure.</li>
						<li>Des frais de déplacements engagés par le prestataire doit être remboursés par le client, d'un prix unitaire de 0,35 euros le Kilomètre.</li>
					</ul>
					<br /><br />
					<ul class="list-group text-left">
						<li class="list-group-item">
							<span class="badge">24,00 &euro; / Heure</span>
							Honoraires
						</li>
						<li class="list-group-item">
							<span class="badge">0,35 &euro; / Kilomètre</span>
							Frais de déplacements
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>